<div>
    <main>
        <div class="mb-5">
            <h1>{{name}}</h1>
        </div>

        <div class="my-3"><b>birthdate: </b>{{birthdate}}</div>
        <div><b>birthplace: </b>{{birthplace}}</div>
        <div class="my-3"><b>deathdate: </b>{{deathdate}}</div>
        <div><b>deathplace: </b>{{deathplace}}</div>
        <div class="my-3"><b>nationality: </b>{{nationality}}</div>
        <div><b>occupation: </b>{{occupation}}</div>
        <hr class="my-5">

        <div><b>Known for: </b>
            <ul>
                {{#each known_for}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <b>Education: </b>
            <ul>{{#each education}}
                <li>{{degree}}</li>
                <li>{{field}}</li>
                <li>{{institution}}</li>
                <li>{{year}}</li>
                {{/each}}
            </ul>
            <b>Notable publications: </b>
            <ul>{{#each notable_publications}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <li class="mb-3">{{publisher}}</li>{{/each}}
            </ul>
            <b>Partners: </b>
            <ul>
                {{#each partners}}
                <li>{{name}}</li>
                <li>{{relationship}}</li>
                <li class="mb-3">{{years}}</li>
                {{/each}}

            </ul>
            <b>Awards: </b>
            <ul>
                {{#each awards}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <li>{{description}}</li><br>
                {{/each}}

            </ul>

            <b>Influences: </b>
            <ul>
                {{#each influences}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <b>Influenced: </b>
            <ul>
                {{#each influenced}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <b>Quotes: </b>
            <ul>
                {{#each quotes}}
                <li><q>{{this}}</q></li>
                {{/each}}
            </ul><br>
            <b>Major discoveries: </b>
            <ul>
                {{#each major_discoveries}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <li>{{description}}</li><br>
                {{/each}}

            </ul><b>Contributions: </b>
            <ul>
                {{#with contributions}}
                <li>{{title}}</li>
                <li>{{description}}</li>
                <li>{{year}}</li>
                <li>{{field}}</li>

                {{/with}}

            </ul>

        </div>
    </main>
</div>