<div>
    <main>
        <div>
            <h1>{{name}}</h1>
        </div><br />

        <div><b>birthdate: </b>{{birthdate}}</div><br />
        <div><b>birthplace: </b>{{birthplace}}</div><br>
        <div><b>deathdate: </b>{{deathdate}}</div><br>
        <div><b>deathplace: </b>{{deathplace}}</div><br>
        <div><b>nationality: </b>{{nationality}}</div><br>
        <div><b>occupation: </b>{{occupation}}</div><br>
        <hr><br>

        <div><b>Known for: </b>
            <ul>

                {{#each known_for}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <b>Education: </b>
            <ul>{{#each education}}
                <li>{{degree}}</li>
                <li>{{field}}</li>
                <li>{{institution}}</li>
                <li>{{year}}</li>
                {{/each}}
            </ul>
            <b>Notable publications: </b>
            <ul>{{#each notable_publications}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <li>{{publisher}}</li><br>{{/each}}
            </ul>
            <b>Partners: </b>
            <ul>
                {{#each partners}}
                <li>{{name}}</li>
                <li>{{relationship}}</li>
                <li>{{years}}</li><br>
                {{/each}}

            </ul>
            <b>Awards: </b>
            <ul>
                {{#each awards}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <li>{{description}}</li><br>
                {{/each}}

            </ul>

            <b>Influences: </b>
            <ul>
                {{#each influences}}
                <li>{{this}}</li>
                {{/each}}
            </ul><br>
            <b>Influenced: </b>
            <ul>
                {{#each influenced}}
                <li>{{this}}</li>
                {{/each}}
            </ul><br>
            <b>Quotes: </b>
            <ul>
                {{#each quotes}}
                <li><q>{{this}}</q></li>
                {{/each}}
            </ul><br>
            <b>Major discoveries: </b>
            <ul>
                {{#each major_discoveries}}
                <li>{{title}}</li>
                <li>{{year}}</li>
                <li>{{description}}</li><br>
                {{/each}}

            </ul><b>Contributions: </b>
            <ul>
                {{#with contributions}}
                <li>{{title}}</li>
                <li>{{description}}</li>
                <li>{{year}}</li>
                <li>{{field}}</li>
                <br>
                {{/with}}

            </ul>

        </div>
    </main>
</div>