<div>
    <main>
        <section>
            <h1>{{name}}</h1>
            <div>
                {{>title data='Users:' big=true}}


                <ol>
                    {{#each users}}

                    <li>
                        <h3 class="mt-3">{{name}}</h3>
                        <div>id: {{id}}</div>

                        <div>gender: {{gender}}</div>
                        <div>age: {{age}}</div>


                        <h4 class="mt-4">Friends:</h4>
                        <ol>
                            {{#each friends}}
                            <li class="my-5">
                                <div>id: {{id}}</div>
                                <div>name: {{name}}</div>
                                <div>gender: {{gender}}</div>
                                <div>age: {{age}}</div>

                                <div class="mt-4"><b>Mutual friends:</b></div>
                                <ul>
                                    {{#each mutual_friends}}
                                    <li class="my-3">
                                        <div> id: {{id}}</div>
                                        <div> name: {{name}}</div>
                                        <div>gender: {{gender}}</div>
                                        <div>age: {{age}}</div>




                                    </li> {{!-- friends --}}

                                    {{/each}} {{!-- each_mutual_friends: --}}
                                </ul>

                                {{#if groups}}
                                <h4 class="mt-4">Groups:</h4>
                                <ul>
                                    {{#each groups}}
                                    <li class="my-4">
                                        <div>id: {{id}}</div>
                                        <div>name: {{name}}</div>
                                        <div> description: {{description}}</div>

                                        <div class="mt-4"><b>Members:</b></div>
                                        <ul>
                                            {{#each members}}
                                            <li class="my-3">
                                                <div> id: {{id}}</div>
                                                <div> name: {{name}}</div>
                                                <div> gender: {{gender}}</div>
                                                <div> age: {{age}}</div>





                                            </li> {{!--members: --}}

                                            {{/each}} {{!-- each_members: --}}
                                        </ul><br>



                                    </li> {{!-- groups --}}

                                    {{/each}} {{!-- each_groups --}}
                                </ul>


                                {{/if}}



                            </li> {{!-- friends --}}

                            {{/each}} {{!-- each_friends --}}
                        </ol>

                        {{#if groups}}
                        <h4 class="mt-4">Groups:</h4>
                        <ul>
                            {{#each groups}}
                            <li class="my-4">
                                <div>id: {{id}}</div>
                                <div>name: {{name}}</div>
                                <div> description: {{description}}</div>

                                <div class="mt-4"><b>Members:</b></div>
                                <ul>
                                    {{#each members}}
                                    <li class="my-3">
                                        <div> id: {{id}}</div>
                                        <div> name: {{name}}</div>
                                        <div> gender: {{gender}}</div>
                                        <div> age: {{age}}</div>





                                    </li> {{!--members: --}}

                                    {{/each}} {{!-- each_members: --}}
                                </ul><br>



                            </li> {{!-- groups --}}

                            {{/each}} {{!-- each_groups --}}
                        </ul>


                        {{/if}}




                    </li> {{!-- users --}}

                    <hr class="my-5">
                    {{/each}} {{!-- each_users --}}

                </ol>
            </div>


        </section>
    </main>
</div>