<div>
    <main>
        <section>
            <h1>{{name}}</h1>
            <div>
                {{>title data='Users:' big=true}}

                <br>
                <ol>
                    {{#each users}}

                    <li>
                        <h3>{{name}}</h3>
                        id: {{id}}<br>

                        gender: {{gender}}<br>
                        age: {{age}}<br><br>
                        <b>Friends:</b>
                        <ol>
                            {{#each friends}}
                            <li>
                                id: {{id}}<br>
                                name: {{name}}<br>
                                gender: {{gender}}<br>
                                age: {{age}}<br><br>

                                <b>Mutual friends:</b>
                                <ul>
                                    {{#each mutual_friends}}
                                    <li>
                                        id: {{id}}<br>
                                        name: {{name}}<br>
                                        gender: {{gender}}<br>
                                        age: {{age}}<br>




                                    </li> {{!-- friends --}}

                                    {{/each}} {{!-- each_mutual_friends: --}}
                                </ul><br>

                                {{#if groups}}
                                <b>Groups:</b>
                                <ul>
                                    {{#each groups}}
                                    <li>
                                        id: {{id}}<br>
                                        name: {{name}}<br>
                                        description: {{description}}<br>

                                        <b>Members:</b>
                                        <ul>
                                            {{#each members}}
                                            <li>
                                                id: {{id}}<br>
                                                name: {{name}}<br>
                                                gender: {{gender}}<br>
                                                age: {{age}}<br>





                                            </li> {{!--members: --}}

                                            {{/each}} {{!-- each_members: --}}
                                        </ul><br>



                                    </li> {{!-- groups --}}

                                    {{/each}} {{!-- each_groups --}}
                                </ul><br>


                                {{/if}}<br>



                            </li> {{!-- friends --}}

                            {{/each}} {{!-- each_friends --}}
                        </ol>

                        {{#if groups}}
                        <b>Groups:</b>
                        <ul>
                            {{#each groups}}
                            <li>
                                id: {{id}}<br>
                                name: {{name}}<br>
                                description: {{description}}<br>

                                <b>Members:</b>
                                <ul>
                                    {{#each members}}
                                    <li>
                                        id: {{id}}<br>
                                        name: {{name}}<br>
                                        gender: {{gender}}<br>
                                        age: {{age}}<br>





                                    </li> {{!--members: --}}

                                    {{/each}} {{!-- each_members: --}}
                                </ul><br>



                            </li> {{!-- groups --}}

                            {{/each}} {{!-- each_groups --}}
                        </ul><br>


                        {{/if}}<br>




                    </li> {{!-- users --}}

                    <hr>
                    {{/each}} {{!-- each_users --}}
                </ol>
            </div>


        </section>
    </main>
</div>