<div>
    <main>
        <section>
            {{> title data='JavaScript' big=true}}


            <hr class="mb-5">

            <div class="my-3"><b>Description:</b> <em>{{description}}</em></div>
            <div><b>History:</b></div>
            {{#with history}}
            <div>Year: {{year}}</div>
            <div>Founder: {{founder}}</div>
            {{/with}} {{!-- with_history --}}


            {{> title data='Types:'}}
            <div class="dropdown mb-5">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Types
                </button>
                <ul class="dropdown-menu">
                    {{#each types}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>



            {{> title data='Syntax:'}}

            {{#with syntax}}
            <div class="dropdown mb-5">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Variables
                </button>
                <ul class="dropdown-menu">
                    {{#each variables}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>

                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Functions
                </button>
                <ul class="dropdown-menu">
                    {{#each functions}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>

                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Conditionals
                </button>
                <ul class="dropdown-menu">
                    {{#each conditionals}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>

                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Loops
                </button>
                <ul class="dropdown-menu">
                    {{#each loops}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>

                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Classes
                </button>
                <ul class="dropdown-menu">
                    {{#each classes}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>

            </div>
            {{/with}} {{!-- with_syntax --}}

            {{> title data='Features:'}}
            <div class="dropdown mb-5">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Features
                </button>
                <ul class="dropdown-menu">
                    {{#each features}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>


            {{> title data='Libraries:'}}
            <div class="dropdown mb-5">
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Libraries
                </button>
                <ul class="dropdown-menu">
                    {{#each libraries}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>


            {{> title data='Tools:'}}
            <div class="dropdown mb-5">
                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Tools
                </button>
                <ul class="dropdown-menu">
                    {{#each tools}}<li><a class="dropdown-item" href="#">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>


            {{> title data='Community:'}}
            <div class="dropdown mb-5">
                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Community
                </button>
                <ul class="dropdown-menu">
                    {{#each community}}<li><a class="dropdown-item" href="#">{{name}} ({{type}})</a></li>
                    {{/each}}
                </ul>
            </div>




        </section>
    </main>

</div>