<div>
    <main>
        <section>
            {{> title data='Noteook' big=true}}

            <div class="card mb-3">
                <img src="https://content.rozetka.com.ua/goods/images/big/229718179.jpg" class="card-img-top"
                    alt="Apple MacBook Pro">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>

                    <p class="card-text">Category: {{category}} </p>
                    <a href="#" class="btn btn-outline-success" class="card-text text-end">Price:
                        {{price}}</a>

                </div>

                <hr class="my-5">


                <div class="card-body">
                    <div class="row">
                        <h3 class="card-title my-5">Features</h3>
                        {{#with features}}
                        <div class="col-3">
                            <div class="mt-4"><b>Processor</b></div>
                            <ul class="my-3">
                                {{#with processor}}

                                <li>Brand: {{brand}}</li>
                                <li>Model: {{model}}</li>
                                <li>Speed: {{speed}}</li>
                                <li>Cores: {{cores}}</li>
                                <li>Cache: {{cache}}</li>

                                {{/with}} {{!-- with_processor: --}}

                            </ul>
                        </div>


                        <div class="col-3">
                            <div class="mt-4"><b>Memory</b></div>
                            <ul class="my-3">{{#with memory}}

                                <li>Type: {{type}}</li>
                                <li>Size: {{size}}</li>
                                <li>Speed {{speed}}</li>


                                {{/with}} {{!-- with_memory --}}
                            </ul>
                        </div>
                        <div class="col-3">
                            <div class="mt-4"><b>Storage</b></div>
                            <ul class="my-3">{{#with storage}}

                                <li>Type: {{type}}</li>
                                <li>Size: {{size}}</li>


                                {{/with}} {{!-- with_storage --}}
                            </ul>
                        </div>

                        <div class="col-3">
                            <div class="mt-4"><b>Display</b></div>
                            <ul class="my-3"> {{#with display}}
                                <li>Size: {{size}}</li>
                                <li>Resolution: {{resolution}}</li>
                                <li>Technology: {{technology}}</li>
                                <li>Color space: {{color_space}}</li>
                                <li>Brightness: {{brightness}}</li>
                                <li>Refresh rate: {{refresh_rate}}</li>


                                {{/with}} {{!-- with_display --}}
                            </ul>
                        </div>

                        <div class="col-3">
                            <div class="mt-4"><b>Graphics</b></div>
                            <ul class="my-3"> {{#with graphics}}
                                <li>Brand: {{brand}}</li>
                                <li>Model: {{model}}</li>
                                <li>Memory: {{memory}}</li>

                                {{/with}} {{!-- with_display --}}
                            </ul>
                        </div>


                        <div class="col-3">
                            <div class="mt-4"><b>Ports</b></div>
                            <ul class="my-3">
                                {{#each ports}}
                                <li>
                                    Type: {{type}}<br>
                                    Count: {{count}}<br>
                                    {{#if features}}Features: <ul>{{#each features}}<li>{{this}}<br></li>{{/each}}</ul>
                                    {{/if}}

                                </li>


                                {{/each}} {{!-- with_ports --}}
                            </ul>
                        </div>

                        <div class="col-3">
                            <div class="mt-4"><b>Battery:</b></div>
                            <ul class="my-3">
                                {{#with battery}}
                                <li>Type: {{type}}</li>
                                <li>Capacity: {{capacity}}</li>
                                <li>Life: {{life}}</li>

                                {{/with}} {{!-- with_battery --}}
                            </ul>
                        </div>

                        <div class="col-3">
                            <div class="my-4"><b>Weight:</b> {{weight}}</div>
                        </div>

                        <div class="col-3">
                            <div class="mt-4"><b>Dimensions:</b></div>
                            <ul class="my-3">
                                {{#with dimensions}}
                                <li>Height: {{height}}</li>
                                <li>Width: {{width}}</li>
                                <li>Depth: {{depth}}</li>

                                {{/with}} {{!-- with_dimensions --}}
                            </ul>
                        </div>

                        <div class="col-3">
                            <div class="my-4"><b>Operating system:</b> {{operating_system}}
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="mt-4"><b>Accessories:</b></div>
                            <ul class="my-3">
                                {{#each accessories}}
                                <li>
                                    <div>Name: {{name}}</div>
                                    <div>Price: {{price}}</div>
                                </li>


                                {{/each}} {{!-- each_accessories --}}

                            </ul>
                        </div>
                    </div>

                    {{/with}} {{!-- with_features --}}
                </div>
            </div>
</div>




</section>
</main>
</div>