<div>
    <main>
        <section>
            <div class="card">
                <div class="card-body">
                    {{#with heading}}
                    {{#with main}}
                    <div class="card ">
                        <div class="card-body">
                            <h1 class="card-title">{{title}}</h1>
                            <p>{{text}}</p>
                            <div><button type="button" class="btn btn-primary ">{{button_text.solid}}</button></div>
                            <div><button type="button"
                                    class="btn btn-outline-primary mt-3">{{button_text.outline}}</button>
                            </div>
                        </div>
                    </div>
                    {{/with}} {{! -with_main- }}


                    {{#with second}}
                    <div class="card my-3">
                        <div class="card-body">
                            <h2 class="card-title">{{title}}</h2>
                            <p class="text-muted">{{text}}</p>
                            <div><button type="button" class="btn btn-secondary">{{button_text.solid}}</button></div>

                            <div><button type="button"
                                    class="btn btn-outline-secondary mt-3">{{button_text.outline}}</button>
                            </div>
                        </div>
                    </div>
                    {{/with}} {{! -with_second- }}


                    {{#with subblock}}
                    <div class="card">
                        <div class="card-body">
                            <h3 class=" card-title text-muted">{{title}}</h3>
                            <p>{{text}}</p>
                            <div><button type="button" class="btn btn-dark">{{button_text.solid}}</button></div>

                            <div><button type="button"
                                    class="btn btn-outline-dark mt-3">{{button_text.outline}}</button>
                            </div>
                        </div>
                    </div>
                    {{/with}} {{! -with_subblock- }}

                    {{/with}} {{! -with_heading- }}
                </div>
            </div>

            {{#with nested_display}}
            <div class="card my-5">
                <div class="card-body">
                    <div class="display-1 my-3"><b>{{title}}</b></div>

                    {{#with children_display}}
                    <div class="card my-3" style="width: 33rem;">
                        <div class=" card-body">
                            <div class=" card-title display-4 mb-3">{{title}}</div>
                            <p class="text-capitalize">{{text}}</p>
                            <div><button type="button" class="btn btn-outline-warning my-3">{{button.text}}</button>
                            </div>

                        </div>

                        {{/with}} {{! -with_children_display- }}
                    </div>

                    <h6 class="my-3">{{header_text}}</h6>
                    <div><button type="button" class="btn btn-info my-3">{{button.text}}</button></div>
                    {{/with}} {{! -with_nested_display- }}
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    {{#with paragraph}}
                    <div class="card-title text-uppercase mb-3"><b>{{title}}</b></div>
                    <div class="text-lowercase">{{text}}</div>
                    <a href="https://google.com" target="_blank" class="btn btn-link my-3">{{button.text}}</a>

                    <div class="card">
                        <div class="card-body">
                            <ul>{{#each list_name}}
                                <li><a href="{{url}}" target="_blank" class="card-link">{{text}}</a></li>
                                {{/each}} {{!-- each_list_name --}}
                            </ul>
                        </div>
                    </div>
                    {{/with}} {{! -with_paragraph- }}

                </div>
            </div>






        </section>
    </main>
</div>