<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <img src="{{image}}" class="card-img" alt="{{name}}">
            </div>

            <div class="col-4">
                <h5 class="card-title ">{{name}}</h5>
                <p class="card-text">{{description}}</p>
            </div>

            <div class="col-2">
                {{#with price}}
                <p class="card-text">{{title}}:</p>
                <h5>{{value}}</h5>
                {{/with}}
            </div>

            <div class="col-2 pt-3">
                {{amount}}
            </div>

            <div class="col-2 ">
                {{#each buttons}}
                <button
                    class="btn {{#unless @first}}mt-3{{/unless}} {{#if isPrimary}}btn-primary{{/if}}{{#if isDanger}}btn-outline-danger{{/if}}">
                    {{text}}</button>
                {{/each}}
            </div>


        </div>
    </div>
</div>