<a class="nav-link active" aria-current="page" href="{{link}}">{{text}}</a>

{{!-- <a class="nav-link" href="{{link}}">{{text}}</a>
<a class="nav-link" href="{{link}}">{{text}}</a>
<a class="nav-link disabled" href="{{link}}">{{text}}</a> --}}